.playlist p{
    font-size:12px;

    margin-bottom:15px;

    display:flex;

    align-items:center;

    gap:8px;
}

#indieDesc,
#primeDesc{
    opacity:.6;
}

/* EDIT ICON */

.edit{
    display:none;

    cursor:pointer;

    font-size:13px;

    margin-left:6px;

    opacity:1;

    color:#fff;

    transition:.2s;
}

.edit:hover{
    transform:scale(1.15);
}

/* Khusus pensil deskripsi */

#editIndieDesc,
#editPrimeDesc{
    display:none;
}
